@import "header";
@import "home";
@import "about";
@import "footer";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 2px solid;
}
html {
  scroll-behavior: smooth;
}
body {
  color: black;
  // background-color: black;
}
